<div class="info_head">
    <h5> TERMS &amp; CONDITIONS </h5>
</div>


<div class="info_head">
    <h6> USING THIS SITE </h6>
</div>
<div class="info">
    <p>Please use a standards-compliant web browser such as Safari 3.0+, Chrome or Firefox 3.0+. Javascript must be enabled to use this site.
    </p>
</div>

<div class="info_head">
    <h6> TERMS OF USE </h6>
</div>
<div class="info">
    <p>By using our website, you agree to the Terms of Use. We may change or update these terms so please check this page regularly. We do not represent or warrant that the information on our web site is accurate, complete, or current. This includes pricing and availability information. We reserve the right to correct any errors or omissions, and to change or update information at any time without prior notice.
    </p>
</div>

<div class="info_head">
    <h6> RETURN POLICY </h6>
</div>
<div class="info">
    <p>Blackwater Atelier will gladly exchange an item for online store credit only. Before sending the item back, please fill out the return form found in your order shipment confirmation within 2 days of receipt of your shipment. Packages sent without first contacting us will not be accepted. Items to be exchanged must be returned in perfect, new condition with all original tags attached. Supreme must receive the returned item within 7 days of return authorization.
    <br /><br />
    For any returned items, you will not be refunded the original cost of shipping, and you are responsible for the cost of the return shipping. Items may not be returned or exchanged in person at any boutique or retail location. Bags, Accessories, Shoes and Sale Items cannot be returned or exchanged. All orders are final and cannot be changed after submission. Blackwater Atelier does not assume responsibility for reimbursement or compensation of returned packages lost in transit without proof of delivery to Blackwater Atelier.
    </p>
</div>

<div class="info_head">
    <h6> COPYRIGHT &amp; TRADEMARKS </h6>
</div>
<div class="info">
    <p>All content of our website including text, graphics, logos, button icons and images are property of BWLA Corp. and are protected by United States and international copyright laws. You may electronically copy and print hard copies of pages from this web site solely for personal, non-commercial purposes related to placing an order or shopping with blackwater-la.com. Any other use of our web site, content, images or information contained therein, including reproduction and internet links, is strictly prohibited without our prior written permission.
    </p>
</div>

<div class="info_head">
    <h6> SECURE PROCESSING </h6>
</div>
<div class="info">
    <p>Blackwater-la.com uses secure processing called SSL Encryption Technology, which is the industry standard, via Stripe checkout integration. SSL(Secure Sockets Layer) is a protocol developed for the transmission of private information over the internet. SSL uses a private key to encrypt your data, including your credit card information, so that it cannot be read while being transferred over the internet.
    </p>
</div>

<div class="info_head">
    <h6> PRIVACY </h6>
</div>
<div class="info">
    <p>Blackwater-la.com respects our customers account information as private and confclassential information and will never share this with any outsclasse afflictions or indivclassuals. Your information is secured and encrypted with the Secure Socket Layer Software. 
    </p>
</div>

<div class="info_head">
    <h6> SHIPPING </h6>
</div>
<div class="info">
    <p>At this time, we are only accepting orders from resclassents that live in the U.S.A..
        <br /><br />
        All orders are shipped via UPS Ground. The shipping rate to the contiguous 48 U.S. states is $5. The shipping rate to Alaska and Hawaii is $20. Please note that UPS does not deliver to APO/FPO addresses or P.O. boxes. 
        <br /><br />
        Please allow 3-5 business days for order processing and verification, and an additional 7-10 business days for delivery. We are not responsible for any lost, stolen, or damaged shipments. All shipments are insured and the buyer assumes all responsibilities of claims made with the shipping carrier.
        <br /><br />
        Please check back with us periodically for any updates regarding our shipping policies.
    </p>
</div>

<div class="info_head">
    <h6> PURCHASE FOR PERSONAL USE ONLY </h6>
</div>
<div class="info">
    <p>You may purchase products only for personal use and not for resale. By placing your order, you certify that you are purchasing products for personal use only and not for resale. We reserve the right to refuse orders for any reason without explanation.
    </p>
</div>

<div class="info_head">
    <h6> SALES TAX </h6>
</div>
<div class="info">
    <p>  
        Sales Tax is charged to those orders shipped within the state of California. The applicable tax rates vary by locality. Shipping is also taxed.
        <br /><br />
        Sales Tax is charged to those orders shipped within the state of New York. All apparel including hats and footwear under $110 are tax exempt. For apparel, hats and footwear over $110 the applicable tax rate is 8.875%. Bags and accessories are not consclassered apparel and are taxable. The applicable tax rate for bags and accessories is 8.875%. Shipping is also taxed.
        <br /><br />
              Sales tax is not charged to orders shipped outsclasse of New York and California.

    </p>
</div>

<div class="info_head">
    <h6> CONTACT INFORMATION </h6>
</div>
<div class="info">
    <p style="text-align:center;">
        <br /><br />
        BLACKWATER ATELIER
        <br />
        23035 PARK PRIVADO
        <br />
        CALABASAS, CA 91302
        <br />
        GENERAL@BLACKWATER-LA.COM
        <br />
        818 983 6036
        <br /> <br />
        <br /> <br />
        <br /> <br />
        <br /> <br />
        <br /> <br />
    </p>
</div>

