
<h2 id="login">Mailing List<br /> <br /></h2>

    <form id="mailing" action="/">
      
      <h8>
          <input type="text" name="email"><br><br>
      </h8>
      <input type="submit" value="SIGN UP">
    </form>
</div>

