// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a, a image{
    text-decoration: none;
    border: none;

    &:hover{
        text-decoration: none;
        border: none;
    }
}
#thanks{
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 10% auto;

    img{
        width: 10%;
        height: auto;
        padding-bottom: 5%;
        margin: 0 auto;
    }
    h2{
        font-family: BrandonGrotesque;
        font-weight: 400;
        font-size: 2em;
        letter-spacing: 0.1em;
        text-align: center;
    }
}