// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#shop_title{
    font-family: BrandonGrotesque;
    font-size: 1.0em;
    letter-spacing: 0.05em;
    font-weight: 500;
    text-transform: uppercase;
    color: #444444;
    text-align: center;
    padding-top: 1%;
}

table{
    layout: fixed;
    width: 100%;
    margin: 10% auto;
}

td{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

#product_photo{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 60%;
    height: auto;
    margin: 0 auto;
}

#product_photo:hover { 
    transform: scale(1.3); 
    border: none;
    text-decoration: none;
}

a{
    text-decoration: none;
    border: none;
    &:hover{
        border: none;
        text-decoration: none;
    }
}


#left{
    position: absolute;
    left: 0;
    top: 20%;
    width: 30%;
    text-align: center;
    margin: 10% auto;
    background-color: transparent;
    z-index: 0;

    #product_name{
        text-transform: uppercase;
        font-family: BrandonGrotesque;
        font-size: 2.0em;
        letter-spacing: 0.06em;
        color: #000;
        font-weight: 500;
        margin-left: -21px;
        line-height: 46%;

    }
    #product_price{
        margin-top: -6px;
        
        font-family: AdobeCaslon;
        font-weight: 300;
        font-size: 1.1em;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #333333;
        line-height: 100%;
        background-color: transparent;

        a{
            -webkit-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
            -o-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;
            text-decoration: none;

            font-family: BrandonGrotesque;
            font-weight: 500;
            font-size: 0.9em;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #666666;

            margin-left: 11px;

            &:hover{
                text-decoration: none;
                background-color: transparent;
                color: transparent;
                text-shadow: 0 0 5px rgba(0,0,0,0.5);
            }
        }
        
    }
    #product_about{
        font-family: AdobeCaslon;
        font-weight: 300;
        font-size: 0.9em;
        letter-spacing: 0.03em;
        color: #000;
        line-height: 105%;
        word-wrap: break-word;
        width: 88px; /* change to your preferences */
        margin: 0 auto;
        background-color: transparent;
    }
    
}

#right{
    position: relative;
    left: 40%;
    width: 1500px;
    padding: 20% 10%;
    overflow: scroll;
    z-index: 2;

    &img{
        position: absolute;
        z-index: 3;
        width: 60%;
    }
}

.fuckmylife{
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    font-family: BrandonGrotesque;
    font-weight: 500;
    font-size: 1.05em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #666666;

    border: none;
    background-color: #fff;
    padding: 0 11px;

    cursor: pointer;

    &:hover{
        text-decoration: none;
        background-color: transparent;
        color: transparent;
        text-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
}

#price{
    font-family: AdobeCaslon;
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

#choosesize{
    margin-left: 5%;
    &:hover #sizebuttons{
        opacity: 1;
    }
}

#sizebuttons{
    input[type=checkbox]:not(old),
    input[type=radio   ]:not(old){
      width   : 31px;
      margin-right : -10px;
      padding : 0;
      opacity : 0;
    }

    input[type=checkbox]:not(old) + label,
    input[type=radio   ]:not(old) + label{
      display      : inline-block;
      margin-left  : -21px;
      margin-right : 11px;
      background   : transparent;
      line-height  : 24px;
      font-family  : AdobeCaslon;
      font-weight  : 500;
      font-size    : 0.9em;
      text-decoration: none;
      text-transform: lowercase;
      background-color: transparent;
      letter-spacing: 0.13em;
      color: transparent;
      text-shadow: 0 0 5px rgba(0,0,0,0.5);

        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    input[type=checkbox]:not(old):checked + label{
      color: #666666;
      text-shadow: none;
    }

    input[type=radio]:not(old):checked + label{
      color: #555555;
      text-shadow: none;
    }

    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    opacity: 0;
}
