<head>
    <title>
        BLACKWATER
    </title>
    <style>
    a, a image{
        text-decoration: none;
        border: none;
        &:hover{
        text-decoration: none;
        border: none;
        }
    }
    #thanks{
        text-align: center;
        height: 100%;
        width: 100%;
        margin: 5% auto 0;
    }
    #fml{
        width: 10%;
        height: auto;
        padding-bottom: 5%;
        margin: 0 auto;
        
    }
    h2#shit{
        font-family: BrandonGrotesque;
        font-weight: 400;
        font-size: 2em;
        letter-spacing: 0.1em;
        text-align: center;
    }
    </style>
</head>

<% session[:cart] = nil %>

<div id="thanks">
    <a href="/">
        <img id="fml" src='https://s3.amazonaws.com/bwla/logo_big.png' />
        <h2 id="shit">Thank you for your purchase</h2>
    </a>
</div>

