<head>
    <title>
        BLACKWATER
    </title>
    
    <style>

    @font-face {
            font-family: 'BrandonGrotesque';
            src: url('<%= asset_path('typefaces/bg/Brandon_med.otf') %>');
            font-weight: 400;
            font-style: normal;
    }
    
    body{
        background-color: #fefdfc;
        z-index: 0;
        margin: 0;
        padding: 0;
    }
    a{
        color: #000;
        background-color: transparent;
        text-decoration: none;
    }
    a:hover{
        color: #000;
        background-color: transparent;
        text-decoration: none;
    }
    a image{
        text-decoration: none;
        border: none;
    }
    a image:hover{
        text-decoration: none;
        border: none;
    }
    #thanks{
        text-align: center;
        height: 100%;
        width: 100%;
        margin: 5% auto 0;
    }
    #fml{
        width: 20%;
        height: auto;
        padding-bottom: 1%;
        margin: 0 auto;
    }
    #shit{
        font-family: BrandonGrotesque;
        font-weight: 400;
        font-size: 2em;
        letter-spacing: 0.2em;
        text-align: center;
        text-transform: uppercase;
    }
    </style>
</head>

<% session[:cart] = nil %>

<div id="thanks">
    <a href="/">
        <img id="fml" src='https://s3.amazonaws.com/bwla/logo_big.png' />
        <h2 id="shit">Thank you for your purchase</h2>
    </a>
</div>

